<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Ku-control</name>
  <service>
    <type>_kucontrol._tcp</type>
    <port>4000</port>
  </service>
</service-group>
